bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
SRD-5-2-1-ConsoleApp/SRD-5-2-1-ConsoleApp/SRD-5-2-1-ConsoleApp.csproj
SRD-5-2-1-ConsoleApp/SRD-5-2-1-ConsoleApp.sln
SRD-5-2-1-ConsoleApp/SRD-5-2-1-ConsoleApp/Program.cs
SRD-5-2-1-ConsoleApp/.idea/.idea.SRD-5-2-1-ConsoleApp/.idea/vcs.xml
SRD-5-2-1-ConsoleApp/.idea/.idea.SRD-5-2-1-ConsoleApp/.idea/vcs.xml
SRD-5-2-1-ConsoleApp/.idea/.idea.SRD-5-2-1-ConsoleApp/.idea/indexLayout.xml
